@media (min-width: 32.5em) {
    body {
        margin: 1.25rem auto;
        padding: 15px;
    }
    header, footer{
        padding: 1rem;
    }
    img {
        max-width: 120px;
        height: auto;
    }
    header {
        gap: 40px;
    }
    .date {
        padding-right: 25%;
        padding-left: 25%;
    }        
}