body {
    font-size: 18px;
    margin:1rem auto;
    max-width: 760px;
    min-width: 210px;
    padding: 8px;
    font-family: 'Roboto', Arial, sans-serif;
}
header, footer{
    background-color: #2980B9;
    color: white;
    text-align: center;
    padding: 0.75rem;
    box-shadow: 10px 6px 20px rgba(128, 128, 128, 0.6), -6px -10px 20px rgba(128, 128, 128, 0.6);
    border-radius: 12px;
}
img {
    max-width: 100px;
    height: auto;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.6), -1px -1px 20px rgba(0, 0, 0, 0.6);
}
header {
    height: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}
footer {
    height: auto;
    margin-top: 30px;
}
#name {
    text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.6), -8px -8px 16px rgba(0, 0, 0, 0.6);
}
#subject {
    text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.6), -8px -8px 16px rgba(0, 0, 0, 0.6);
    text-align: center;
}
.footerText {
    display: inline-flex;
    flex-wrap: nowrap;
    padding: -30px;
    line-height:0;
}
.date {
    display: inline-flex;
    flex-wrap: nowrap;
    margin-top: -40px;
    color: yellow;
    font-size: 14px;
    padding-right: 10%;
    padding-left: 10%;
}
a {
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    font-weight: bold;
}