body {
    font-family: 'outfit', Arial;
}
p {
    font-family: 'roboto', Arial;
}
a {
    text-decoration: none;
}


/*Header*/
header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 50px 50px auto;;
    padding-bottom: 10px;
    background: #EBE8DD;
}
.logo {
    grid-column: 1;
    grid-row: 1/3;
    width: 80px;
    position: absolute;
  }
#title, #date {
    grid-column: 2/6;
    text-align: center;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}  
#title {
    grid-row: 1;
    font-size: x-large;
}
#date {
    grid-row: 2;
    align-self: end;
    font-size: small;
}
.social1, .social2 {
    grid-column: 6;
    width: 50px;
    margin-left: auto;
}
.social2 {
    border-bottom-left-radius: 6px;
}

/*Home Page*/
main {
    max-width: 1600px;
	margin: 0 auto;
    padding: 10px;
}
#heroImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 2px;
}
#hero {
    display: flex;
    justify-content: center;
}
#welcome {
    color: white;
    text-shadow: 0 6px 4px rgba(0,0,0,0.8), -2px 2px 0  black,1px 1px 0  black,1px -1px 0 black,-1px -1px 0  black;
    position: absolute;
}
h4, h3, h2 {
    text-align: center;
    text-shadow: 0px 8px 9px rgba(150, 150, 150, 1);
}
.blocks div {
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    border: solid #D14B1D;
    align-content: center;
}
.blocks div:not(#hero) {
    padding: 0 10px;
}
.companyLogo {
    width: 100%;
    object-fit: cover;
}
#joinButton, #heroButton, #submit {
    background:#50A6A5;
    padding: 8px 20px;
    font-size: 1.4rem;
    color: #2D2D2D;
    text-align: center;
    transition: 0.3s;
    border-radius: 5px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3), -1px 1px 0  white,1px 1px 0  white,1px -1px 0 white,-1px -1px 0  white;
    box-shadow: 2px 7px 5px rgba(0,0,0,0.3);
    border: none;
}
#joinButton, #submit {
    margin: 5px auto;
    max-width: 200px;
    display: flex;
    justify-content: center;
}
#heroButton {
    position: absolute;
    align-self: end;
    width: 100px;
    margin-bottom: 10px;
}
#banner {
    text-align: center;
    font-size: large;
}
#weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px 50px 0px 50px 50px 30px;
    align-items: center;
    justify-items: center;
}
#weather h3 {
    grid-column: 1/3;
}
#weatherIcon {
    grid-column: 1/2;
    width: 80px;
    filter: drop-shadow(0 0 0 black);
}
#weather p, span {
    grid-column: 2/3;
}
#temp {
    font-weight: bold;
    font-size: 1.4rem;
}
#weather #currentWeather {
    grid-column: 1/3;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: capitalize;
}
#weather hr {
    grid-column: 1/3;
    width: 100%;
    border: 1px solid black;
}
#source {
    grid-column: 1/3;
    font-size: smaller;
    display: flex;
    margin: -10px;
}
#spotlights div {
    border: none;
    display: grid;  
}
#spotlights h4, #join p, #events p {
    text-align: center;
}

/*Discover page*/
#discover {
    display: grid;
}
.imageDesc {
    padding: 15px;
    align-self: center;
    font-size: 20px;
    width: 90%;
}
.visited {
    justify-self: center;
    margin-bottom: 40px;
}
img[data-src] {
    filter: blur(0.5em);
    width: 300px;
}
img.loaded {
    filter: blur(0em);
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: all 0.4s;
}
.lazy {
    border: solid #D14B1D;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.row {
    text-align: center;
    margin-bottom: 50px;
    justify-self: center;
    width: 90vw;
}
/*Join page*/
#joinContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    margin: 0 auto;
}
#joinContent h2 {
    grid-column: 1/3;
}
form {
    grid-column: 1/3;
    justify-self: center;
    border: 2px solid #D14B1D;
    padding: 0 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 2px 7px 5px rgba(0,0,0,0.3);
    margin-bottom: 20px;
}
label, #member {
    display: flex;
    font-weight: bold;
    padding: 5px;
}
form span {
    color: red;
    padding-right: 10px;
    font-size: 1.6rem;
}
input, textarea {
   height: 44px;
   width: 100%;
}
.radio{
   display: inline-flex;
   font-weight: lighter;
   align-items: center;
}
fieldset {
    border-radius: 5px;
}
input[type=radio]{
    width: 20px;
}
#alphanumeric {
    font-size: small;
    font-weight: lighter;
    margin-top: -6px;
}
.memberships {
    grid-column: 1/3;
    border: 2px solid #D14B1D;
    border-radius: 10px;
    box-shadow: 2px 7px 5px rgba(0,0,0,0.3);
    padding: 20px;
    height: fit-content;
    width: fit-content;
    justify-self: center;
}
#thankYou, #contact {
    text-align: center;
    margin: 40px 0 200px 0;
}

/*Directory*/
.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.cards section {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid #D14B1D;
    border-radius: 6px;
    text-align: center;
}
.cards img {
    width: 100%;
    max-width: 450px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
}
#dirFormat {
    display: flex;
    justify-content: center;
}
.cardButton, .listButton {
    width: 80px;
    height: 45px;
    padding-top: 5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    transition: background-color .3s;
    font-size: 2.3rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cardButton.list {
    background-color: #A7DFDF;
}
.listButton.list {
    background-color: #A7DFDF;
}
.list img {
    display: none;
}
.list.cards {
    gap: 0px;
    border: 2px solid #D14B1D;
    border-radius: 6px;
}
.list section {
    grid-column: 1/4;
    border: none;
    padding: 5px;
    box-shadow: none;
}
.list section:nth-child(2n-1) {
    background-color: #E0FAF6;
}
/*Footer*/ 
#contact div {
    margin: 0 auto;
    width: 500px;
    padding-bottom: 15px;
    border-radius: 5px;
    border: 3px solid #D14B1D;
}

/*Footer*/ 
footer {
    Display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    background: #EBE8DD;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
}
.footerLogo {
    width: 130px;
    grid-column: 1/2;
    justify-self: right;
    align-self: center;
}
#footerInfo {
    grid-column: 2/4;
}
#smallFooter {
    grid-column: 1/4;
}

/*Navigation*/
.navigation {
    grid-column: 1/7;
    justify-self: center;
    width: 100%;
    grid-row: 3;
    margin-bottom: 10px;
}
.navigation a {
    background:#50A6A5;
    padding: 10px 50px;
    font-size: 1.2rem;
    color: #2D2D2D;
    text-align: center;
    transition: 0.3s;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    box-shadow: 2px 7px 5px rgba(0,0,0,0.3);
    display: none;
    border-top: 1px solid #EBE8DD;
}
.navigation a:hover, .social:hover, #heroButton:hover, #joinButton:hover, #submit:hover {
    background: #D14B1D;
    cursor: pointer;
}
.navigation a:first-child {
	display: block;
    border: none;
}
.navigation a.button::before {
	content: "☰";
}
.open a {
	display: block;
}
.open a:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.open a.button::before {
	content: "X";
}
