@media (min-width: 38em) {
    header {
        grid-template-rows: 70px 70px;
    }
    .logo, #footerLogo {
        width: 130px;
        padding: 5px;
    }
    .companyLogo {
        min-width: 200px;
        height: 300px;
    }
    #title {
        font-size: xx-large;
    }
    #date {
        font-size: large;
        align-self: start;
    }
    .social1, .social2 {
        width: 70px;
    }
    #welcome {
        font-size: xx-large;;
    }
    .blocks {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    footer {
        grid-template-columns: repeat(3, 33%);
    }
    #hero {
        grid-column: 1/4;
    }
    #news {
        grid-area: 2 / 1 / 3 / 4;
    }
    #events {
        grid-area: 3 / 1 / 4 / 4; 
    }
    #weather {
        grid-area: 4 / 3 / 5 / 4; 
    }
    #join {
        grid-area: 4 / 1 / 4 / 3;
    }
    #spotlights {
        grid-area: 5 / 1 / 5 / 4;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #spotlights h3 {
        grid-column: 1/3;
    }
    img.loaded {
        filter: blur(0em);
    }
    img.loaded:hover {
        width: 300%;
    }
    #discover .row:nth-child(2n){
        flex-direction: row-reverse;
    }
    .row {
        display: flex;
        overflow: hidden;
    }
    form {
        grid-column: 1/2;
    }
    .memberships {
        grid-column: 2/3;
    }
}