@media (min-width: 38em) {
    /*Header*/
    header {
        grid-template-rows: 70px 70px;
    }
    .logo, #footerLogo {
        width: 110px;
        padding: 5px;
    }
    #title {
        font-size: xx-large;
    }
    #date {
        font-size: large;
        align-self: start;
    }
    .social1, .social2 {
        width: 70px;
    }
    /*Home*/
    #welcome {
        font-size: xx-large;;
    }
    .blocks {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .blocks div {
        margin: 10px;
    }
    footer {
        grid-template-columns: repeat(3, 33%);
    }
    #hero {
        grid-column: 1/4;
    }
    #news {
        grid-area: 2 / 1 / 3 / 4;
    }
    #events {
        grid-area: 3 / 1 / 4 / 4; 
    }
    #weather {
        grid-area: 4 / 3 / 5 / 4; 
    }
    #spotlights {
        grid-area: 5 / 1 / 5 / 4;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #spotlights h3 {
        grid-column: 1/3;
    }
    /*Join*/
    #join {
        grid-area: 4 / 1 / 4 / 3;
    }
    /*Discover*/
    img.loaded {
        filter: blur(0em);
    }
    img.loaded:hover {
        width: 300%;
    }
    #discover .row:nth-child(2n){
        flex-direction: row-reverse;
    }
    .row {
        display: flex;
        overflow: hidden;
    }
    /*Join*/
    form {
        grid-column: 1/2;
    }
    .memberships {
        grid-column: 2/3;
    }
    /*Directory*/
    .cards {
        grid-template-columns: 1fr 1fr;
    }
    .list section {
        display: grid;
        grid-template-columns: 20% 25% 25% 30%;
    }
}