body {
    font-family: 'outfit', Arial;
}
p {
    font-family: 'roboto', Arial;
}

/*Header*/
header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 50px 50px auto;;
    padding-bottom: 10px;
    background: #E7E7E7;
}
.logo {
    grid-column: 1;
    grid-row: 1/3;
    width: 80px;
    position: absolute;
  }
#title, #date {
    grid-column: 2/6;
    text-align: center;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}  
#title {
    grid-row: 1;
    font-size: x-large;
}
#date {
    grid-row: 2;
    align-self: end;
    font-size: small;
}
.social1, .social2 {
    grid-column: 6;
    width: 50px;
    margin-left: auto;
}
.social2 {
    border-bottom-left-radius: 6px;
}

/*Main Content*/
main {
    max-width: 1600px;
	margin: 0 auto;
    padding: 10px;
    border-bottom: solid #D14B1D;
    border-top: solid #D14B1D;  
}
#hero {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 2px;
}
#heroImage {
    display: flex;
    justify-content: center;
}
#welcome {
    color: white;
    text-shadow: 2px 8px 3px rgba(0,0,0,0.3), -1px 1px 0 #000,1px 1px 0 #000,1px -1px 0#000,-1px -1px 0 #000;
    font-size: 7vw;
    position: absolute;
}
h3 {
    text-align: center;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 0px -4px 10px rgba(255,255,255,0.3);
}
.blocks div {
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    border: solid #D14B1D;
}
.blocks div:not(#heroImage) {
    padding: 0 10px;
}
#banner {
    text-align: center;
    font-size: large;
}
#weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px 50px 10px 40px 40px;
    align-items: center;
    justify-items: center;
    text-align: center;
    gap: -100px;
}
#weather h3 {
    grid-column: 1/3;
}
#weather h4, #weatherIcon {
    grid-column: 1/2;
}
#weather p, span {
    grid-column: 2/3;
}
#temp, #degree {
    font-weight: bold;
    font-size: x-large;
}
#weather #condition {
    grid-column: 1/3;
    font-weight: bold;
    font-size: x-large;
}
#weather hr {
    grid-column: 1/3;
    width: 100%;
    border: 1px solid black;
}

/*Footer*/ 
footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: #E7E7E7;
}
#footerLogo, #weatherIcon {
    width: 60px;
}
#map {
    max-width: 100%;
}

/*Navigation*/
.navigation {
    grid-column: 1/7;
    justify-self: center;
    width: 100%;
    grid-row: 3;
}
.navigation a {
    background:#50A6A5;
    padding: 10px 50px;
    font-size: large;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: 0.3s;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 0px -4px 10px rgba(255,255,255,0.3);
}
.navigation a {
    display: none;
  }
.navigation a:first-child {
	display: block;
}
.navigation a:nth-child(2) {
    border-top: solid #E7E7E7;
}
.navigation a.button::before {
	content: "☰";
}
.open a {
	display: block;
}
.open a.button::before {
	content: "X";
}
